/**************** Selectors*************/

body {
    margin: 0;
    text-align: center;
    color: #40514E;
}
h1 {
    margin: 50px auto 0 auto;
    font-size: 5.625rem; /*562.5% This is a Dynamic Font-sizing 100%=16px, 90px/16px =562.5%*/
    /* line-height: 2; */
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p {
    line-height: 2;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
/****************classes****************/
.top-container {
    background: #E4F9F5;
    position: relative;
    padding-top: 100px;

}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.middle-container {
    margin: 100px 0;
}
.profile {

}
.intro {
    width: 30%;
    margin: auto;
}
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.pro {
    text-decoration: underline;
}

/* skills */
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.web-design {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.programmer {
    width: 25%;
    float: right;
    margin-left: 30px; /** Use it by positioning **/
}
.keep-coding {
    width: 25%;
    float: left; /** by using float and clear Properties**/
    margin-right: 30px;
}
.computer-coding {
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* end skills */

/* bttom container */
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2CB4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2CB4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2CB4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2CB4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2CB4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 
 .bottom-container {
     background: #66BFBF;
     padding: 50px 0 20px;
 }
 .copy-right {
     color: #EAF6F6;
     font-size: x-large;
     padding: 20px 0;
 }
/* end bottom container */